<h5>Logged in as: <%= @user.name %></h5>

<%= link_to new_user_pet_path(session[:user_id]), class: "btn btn-default" do %><i class="glyphicon glyphicon-plus"></i>
<% end %>

<%= link_to timer_path, class: "btn btn-default" do %><i class="glyphicon glyphicon-time"></i>
<% end %>

<%= link_to root_path, class: "btn btn-default" do %><i class="glyphicon glyphicon-home"></i>
<% end %>
