<% if @scheduled_feedings != []  %>
  <% @scheduled_feedings.each do |feeding| %>
    <h4>Everyday at <%= format_time(feeding.time) %></h4>
  <% end %>
<% else %>
  <h4>There are no scheduled feedings.</h4>
<% end %>

