<br>
<br>
<div class="row">
  <div class="col-md-6">
    <%= form_for @request, url: timer_path do |f| %>
      <div class="form-group">
        <h4>Enter Feed Time in Military Time (0-23, 13 = 1pm)</h4>
        <fieldset>
          <%= f.label "Feed Times" %>
          <%= f.text_field :schedule, placeholder: "ex. 11", class:"form-control" %>

          <%= f.submit "Schedule Feeding" %>
        </fieldset>
      </div>
    <% end %>
  </div>
</div>
