<div class="row">
  <div></div>
  <div class="page-header">
    <h1>Robo Pig Test Home</h1>
    <div class="dropdown">
      <button type="button" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" aria-label="Left Align">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><%= link_to "Login", login_path %></li>
        <li><%= link_to "Profile", profile_path %></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-8">
    <h1>BearPig has been fed x numbers today</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-8">
    <h1>Feed Request</h1>
  </div>
</div>



