/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 //= depend_on_asset "cats_jumping.jpg"

 body {
  background: url('cats_jumping.jpg')no-repeat;
  background-size: 100%;
  height: 100%;
  display: block;
  padding: 0 !important;
  margin: 0;
  font-family: 'Play', sans-serif;
 }

 h1 {
  margin-bottom: 2px;
  margin-top: 2px;
  font-size: 60px;
  font-style: bold;
 }

#header_text {
  text-align: center;
  color: white;
  border-radius: 10px;
  /*background: rgba(183, 193, 193, .9);*/
}

h5, h3 {
  color: white;
  text-align: center;
}

h2 {
  /*border-radius: 10px;
  background-color: rgba(0, 0, 0, .1);*/
  color: white;
  padding: 1em;
}



 .col-xs-12 {
    text-align: center;
    /*background-color: rgba(183, 193, 193, .4);*/
  }

  #feed_details {
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .1);
  }

  #landing_page {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
  }

  #landing_page h3, h5 {
    color: black;
    padding: 0px;
  }

  #landing_page h5 {
    margin-left: 12%;
    margin-right: 12%;
  }

  #feed_button {
    padding-left: 3em;
    padding-right: 3em;
  }

  #cancel_button {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .page-header {
    margin-top: 2px;
    margin-bottom: 1px;
  }

  .twitter_login {
    text-align: center;
  }


#dropdownMenu1 {
  background-color: transparent;
  border: 1px solid white;
  color: white;

}

.dropdown {
  width: 50px;
  display: inline;
}

.panel-group {
  text-align: center;
}

#profile_details {
  color: white;
}

#logged_in {
  display: inline;
}

.schedule_form_header, li, h4 {
  text-align: left;
  padding-top: 3px;
  margin: 5px;
  list-style-type: none;
  padding-left: 1px;
  color: white;
}

.schedule_form {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .5);
}

.schedule_form a {
  color: white;
}

iframe {
  float: right;
  margin-top: 5px;
}

.new_pet_form {
  text-align: center;
}

.schedule_label {
  color: white;
}

#scheduled_feedings {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .3);
  padding-bottom: 5px;
  text-align: center;
}

#scheduled_feedings, h3 {
  color: white;
}

/*footer {
  color: white;
  text-align: center;
  position:absolute;
  bottom:0;
  width:100%;
  height:10px; /* Height of the footer */
  /*padding-top: 5px;*/
/*}*/

/*
h1 {
  font-size: 60px;
}*/
/*
  .dropdown {
    float: right;
  }*/
/*


/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a9db80+0,96c56f+100;Green+3D+%232 */
/*.page-header {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a9db80+0,96c56f+100;Green+3D+%232 */
/*background: #a9db80; /* Old browsers */
/*background: -moz-radial-gradient(center, ellipse cover,  #a9db80 0%, #96c56f 100%); /* FF3.6+ */
/*background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a9db80), color-stop(100%,#96c56f)); /* Chrome,Safari4+ */
/*background: -webkit-radial-gradient(center, ellipse cover,  #a9db80 0%,#96c56f 100%); /* Chrome10+,Safari5.1+ */
/*background: -o-radial-gradient(center, ellipse cover,  #a9db80 0%,#96c56f 100%); /* Opera 12+ */
/*background: -ms-radial-gradient(center, ellipse cover,  #a9db80 0%,#96c56f 100%); /* IE10+ */
/*: radial-gradient(ellipse at center,  #a9db80 0%,#96c56f 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
/*}
*/
